[Desktop Entry]
Version=1.0
Name=Firefox
Comment=Firefox with User to Network Extension
Exec=/opt/firefox/human_app_label/Extension/Firefox.sh
Icon=/opt/firefox/human_app_label/Extension/default128.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=Firefox
